* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth; all .2s cubic-bezier(0.42, 0, 0.38, 1);
}

body, button {
  height: 100%;
  line-height: 1.7;
  font-family: 'Exo 2'; font-size: 18px;
  margin: 0;
}

body.modal-open {
  overflow-y: hidden;
}

h2 {
  font-size: 2em;
}

a, button {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #DDFF4D;
}

/* Navbar CSS */
.navtop {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}

.navtop a {
  cursor: pointer;
}

body.loaded .navtop {
  transition: 0.4s;
}

body.loaded .navtop a {
  transition: 0.4s;
}

.navtop nav {
  display: flex;
  justify-content: flex-end;
}

.navtop.opaque {
  background: #FFF;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav-bar-logo {
  font-family: 'Londrina Outline';
  text-align: left;
  width: auto;
  display: inline-block;
}

.nav-bar-logo-design {
  font-family: 'Exo 2';
  font-size: 2.5rem;
  font-weight: bold;
  transition: inherit;
  color: #fff;
}

.nav-bar-logo a {
  color : #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.navtop.opaque .nav-bar-logo a, .navtop.opaque .nav-bar-logo span {
  font-size: 1.8rem;
  color: #000;
}

.nav-bar-item a:hover {
  color: #008bff;
}

.nav-bar-item .nav-link{
  position: relative;
  z-index: 1;
}

.nav-link{
  height: 5em;
  padding: 0 1em;
  display: table;
  color: #fff;
  font-size: 1.1rem;
}

.navtop.opaque .nav-link {
  height: 4em;
  color: #000;
  font-size: 1rem;
}

.navtop.opaque .nav-link:hover {
  color: #008bff;
}

.nav-bar-item span {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.nav-bar-item span:before,
.nav-bar-item span.active:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 0%;
  height: 4px;
  background-color: #008bff;
}

body.loaded .nav-bar-item span:before,
body.loaded .nav-bar-item span.active:before {
  transition: 0.4s;
}

.nav-bar-item span:hover::before,
.nav-bar-item span.active:before {
  width: 100%;
}

.nav-bar-item span:active::before{
  width: 100%;
}

.nav-bar-mobile{
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
}

.open-button{
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
  color: #fff;
  margin-left: auto;
}

.open-button:hover {
  color: #008bff;
}
.navtop.opaque .open-button {
  color: #000;
}

.navtop.opaque .open-button:hover {
  color: #008bff;
}

.mobile-sidebar{
  height: calc(100vh);
  width:250px;
  background-color:#fff;
  position:fixed!important;
  z-index:99;
  overflow:auto;
}

.mobile-sidebar-overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 98;
}

.mobile-bar-block {
  right: 0;
  display:block;
  width: auto;
  min-width: 250px;
  padding-top: 20px;
  transition: .5s all ease-in-out;
}

.mobile-bar-block .mobile-bar-close {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.mobile-bar-block .close-button{
  font-size: 25px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  cursor: pointer;
  color: #666666;
}

.mobile-bar-block .mobile-bar-item{
  width:auto;
  display:block;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0
}

.mobile-button{
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:#000;
  cursor:pointer;
  user-select:none;
}

.mobile-button:hover{
  color:#008bff;
}

@media (min-width:768px){
  .hide-large{
    display:none;
  }
}

@media (max-width:992px) and (min-width:768px){
  .hide-medium{
    display:none;
  }
}

@media (max-width:768px){
  .hide-small{
    display:none !important;
  }
}

@media (min-width:993px){
  .w3-modal-content{
    width:900px;
  }

  .hide-large{
    display:none!important;
  }

  .mobile-sidebar.w3-collapse{
    display:block!important;
  }
}

@media (max-width:992px){
  .mobile-sidebar.w3-collapse{
    display:none;
  }

  .w3-main{
    margin-left:0!important;
    margin-right:0!important;
  }

  .w3-auto{
    max-width:100%
  }
}

.animate-right{
  position:relative;
  animation:animateright 0.4s
}

@keyframes animateright{
  from{right:-300px;opacity:0}
  to{right:0;opacity:1}
}


/* footer CSS */
.bg-light {
    background-color: #f8f9fa;
}

.footer {
    font-size: .9rem;
}

/* Go to top button */
#top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  font-size: 1.2em;
  line-height: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 0px;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  text-align: center;
  transition: all .3s ease;
}

@media (hover: hover) {
  #top-btn:hover {
    background-color: #ddff4d8c;
    color: rgba(0, 0, 0, .6);
  }
}

#top-btn:focus {
  background-color: #ddff4d8c;
  color: rgba(0, 0, 0, .6);
}

#top-btn.hidden {
  display: none;
}

/* Common CSS */
@media screen and (min-width: 576px) {
  .container {
      max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
  .container {
      max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
  .container {
      max-width: 1140px;
    }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.float-right{
  float:right;
}

.text-right {
  text-align: right;
}

.text-center-col {
  text-align: center;
}

.text-center-row {
  align-self: center;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #008bff;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.section-title {
  position: relative;
  padding-bottom: 20px;
}

.section-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: #DDFF4D;
  width: 50px;
}

.section-title.text-center-col:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-section {
  padding: 7em 0;
}

@media screen and (max-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (min-width: 350px) {
  /* For tablets: */
  .col-m-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-m-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
  .col-m-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
  }

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-s-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-s-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-s-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-s-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-s-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-s-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-s-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-s-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-s-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-s-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-s-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-s-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-s-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
}

@media only screen and (min-width: 992px) {
  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
}
