/* Header with full-height image CSS */
.bgimg-main {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bg.jpg);
  min-height: 600px;
  height: calc(100vh);
}

.bg-main {
  min-height: 600px;
  height: calc(100vh);
}

.bgimg-main h1 {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
}
@media (max-width: 992px) {
  .bgimg-main h1 {
    font-size: 3.5rem; }
}
@media (max-width: 576px) {
  .bgimg-main h1 {
    font-size: 2.5rem; }
}

.link {
  position: relative;
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
  color : #fff;
  transition: .3s;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0px;;
  left: 0;
  height: 3px;
  width: 0%;
  background: #fff;
  transition: .3s;
}
.link:hover::after {
  width: 100%;
}

/* About section CSS */
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

@media screen and (max-width: 768px) {
  .gallery-wrap {
    height: 40vh;
  }
}

.gallery-img {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: 0.8s;
}

.gallery-img.active {
  flex: 7;
}

@media (hover: hover) {
  .gallery-img:hover {
    flex: 7;
  }
}

.gallery-img-1 {
  background-image: url(../img/img-1.jpg);
}

.gallery-img-2 {
  background-image: url(../img/img-2.jpg);
}

.gallery-img-3 {
  background-image: url(../img/img-3.jpg);
}

.gallery-img-4 {
  background-image: url(../img/img-4.jpg);
}

/* Skills section CSS */
#skills-section {
  position: relative;
  width: 100%;
  height: 100%;
}

#skills-section .parallax-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#skills-section .parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/skiils-bg.jpg);
  background-position: center center;
  background-size: cover;
  transform: translateZ(0);
  will-change: transform;
}

#skills-section h2 {
  color: #fff;
}
#skills-section h3 {
  color: #fff;
  display: block;
  margin-bottom: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-right: auto;
  margin-left: auto;
}

#skills-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.20);
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.chart {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px){
  .chart {
    transform: scale(0.8);
  }
}

.chart figcaption {
  padding: 50px 25px;
  width: 170px;
  height: 170px;
  border: 10px solid #fff;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  left: 60px;
  top: 60px;
}

.photoshop + svg .outer {
  stroke: #2384f8;
}

.illustrator + svg .outer {
  stroke: #f58a26;
}

.aftereffect + svg .outer {
  stroke: #cca0f8;
}

.html + svg .outer {
  stroke: #e85d25;
}

.javascript + svg .outer {
  stroke: #f8d824;
}

.bootstrap + svg .outer {
  stroke: #7843c3;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 11;
  stroke-dasharray: 520;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 520 !important;
  -webkit-animation-play-state: paused;
}

.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 385;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}

.chart[data-percent='10'] .outer {
  stroke-dashoffset: 470;
  -webkit-animation: show25 2s;
  animation: show10 2s;
}

@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 133;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 133;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 385;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 385;
  }
}
@-webkit-keyframes show10 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 470;
  }
}

@keyframes show10 {
  from {
    stroke-dashoffset: 525;
  }

  to {
    stroke-dashoffset: 470;
  }
}

/* Create section CSS */
.bg-blue {
  background-color: #008bff;
}

.c-create {
  overflow-x: hidden;
}

.create_text {
  font-size: calc( 35px + 22 * ((100vw - 320px) / 880));
  width: 300%;
  color: rgba(255,255,255,0.8);
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 1rem 0;
}

.create_text span {
  display: block;
  animation: marquee 60s linear infinite forwards;
}

@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(-200%); }
}

@-webkit-keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(-200%); }
}

@media screen and (max-width: 768px) {
  .create_text span {
    display: block;
    animation: marquee 20s linear infinite forwards;
  }
}

/* contact section CSS */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.contact-link {
  position: relative;
  padding-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  color : #262626;
  transition: .3s;
}

.contact-link::after {
  content: "";
  position: absolute;
  bottom: 0px;;
  left: 0;
  height: 3px;
  width: 0%;
  background: #262626;
  transition: .3s;
}

.contact-link:hover::after {
  width: 100%;
}

.social-flex{
  display: flex;
}

.social ul {
  display: flex;
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .social-center {
    margin: auto;
    padding-top: 3em;
  }
}

.social ul li a {
  width: 70px;
  height: 70px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.social ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social ul li a:hover:before {
  top: 0;
}

.social ul li:nth-child(1) a:before{
  background: #bf4476;
}

.social ul li:nth-child(2) a:before{
  background: #3b5999;
}

.social ul li:nth-child(3) a:before {
  background: #0077b5;
}
