.filters .btn {
  font-size: 1rem;
  margin: 5px;
  background: rgba(52, 58, 64, 0.05);
  color: #008bff;
  padding: 10px 25px;
  border-radius: 30px !important;
  border: none ;
  text-transform: uppercase;
  outline: none;
}
.filters .btn:hover, .filters .btn:focus, .filters .btn:active {
  border-color: transparent !important;
  background: rgba(52, 58, 64, 0.3) !important;
  color: #000;
  outline: none;
}
.filters .btn.active {
  background: #008bff !important;
  color: #fff !important;
  border-color: #008bff !important;
  outline: none;
}

#posts {
  column-width: 300px;
  column-gap: 1.5rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#posts .item {
  border: none;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  animation: fade 1s backwards;
}

#posts .item.hidden {
  display: none;
}

#posts .item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

#posts .item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  border-radius: 5px;
}

#posts .item .item-wrap {
  display: block;
  position: relative;
}

#posts .item .item-wrap:after {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#posts .item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

#posts .item .item-wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  font-size: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

#posts .item .item-wrap:hover span {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

#posts .item img {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#posts .item:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal.show {
  display: block;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 5em 0;
  /* width: 100%; */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* height: 100vh; */
  /* overflow: scroll; */
}

.close {
  color: white;
  position: fixed;
  padding: 15px 20px;
  text-align: center;
  top: 0px;
  right: 0px;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  text-shadow: 0px 0px 5px #333;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.posts-slides {
  display:none;
}

.posts-slides.show {
  display: block;
}

.posts-slides img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50vh;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-top: -17px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1.1em;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 50px;
  box-shadow: 0px 0px 8px #26262694;
}

.prev{
  left: 10px;
}
.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
